params {
    config_profile_name = 'Test stubs'
    config_profile_description = 'Minimal test configuration to run stubs with continuous integration'

    input = 'assets/samplesheet.csv'

    max_cpus = 2        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '6.GB'
    max_time   = '6.h'

    publish_dir_mode = "symlink"

    // Additional test data
    fastq_screen_conf  = "${projectDir}/assets/fastq_screen_biowulf.conf"
    fastq_screen_conf2 = "${projectDir}/assets/fastq_screen_biowulf_2.conf"
    fastq_screen_db_dir = '/data/CCBR_Pipeliner/db/PipeDB/lib/fastq_screen_db/'
}

process {
    cpus = 1
    memory = '1.GB'
}
