// containers accessed in process definitions with $params.containers.NAME
params {
    containers {
        base   = 'nciccbr/ccbr_ubuntu_base_20.04:v6.1'
        rseqc  = 'docker://nciccbr/ccbr_rseqc_4.0.0:v3'
    }
}

process {
    withName: 'RSEQC_INFEREXPERIMENT'  { container = params.containers.rseqc }
    withName: 'RSEQC_READDISTRIBUTION' { container = params.containers.rseqc }
    withName: 'RSEQC_INNERDISTANCE'    { container = params.containers.rseqc }
    withName: 'RSEQC_TIN'             { container = params.containers.rseqc }
}
