process {
    withName: STAR_ALIGN_PASS1 {
        ext.args = [
            '--readFilesCommand zcat',
            params.star_pass1_args ?: ''
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: STAR_ALIGN_PASS2 {
        ext.args = [
            '--readFilesCommand zcat',
            '--quantMode TranscriptomeSAM GeneCounts',
            '--outSAMtype BAM SortedByCoordinate',
            params.star_pass2_args ?: ''
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.p2" }
    }
    errorStrategy = 'finish'

}
