process {
    withName: FUSION_ARRIBA {
        task.ext.args_STAR = null
        task.ext.args_arriba = null
        ext.prefix = { "${meta.id}.p2.arriba" }
    }

    withName: STAR_ALIGN_BASIC {
        ext.args = [
            '--readFilesCommand zcat',
            '--twopassMode Basic',
            '--limitSjdbInsertNsj 4000000',
            '--outSAMtype BAM Unsorted',
            '--outSAMstrandField None',
            '--outSAMunmapped Within',
            '--outWigType None',
            '--outWigStrand Stranded',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--quantMode TranscriptomeSAM GeneCounts',
            params.star_pass2_args ?: ''
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.p2" }
    }

    withName: STAR_ALIGN_PASS1 {
        ext.args = [
            '--readFilesCommand zcat',
            '--outSAMtype BAM Unsorted',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--outSAMstrandField None',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--alignEndsProtrude 10 ConcordantPair',
            '--peOverlapNbasesMin 10',
            '--sjdbOverhang 99',
            params.star_pass1_args ?: ''
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: STAR_ALIGN_PASS2 {
        ext.args = [
            '--readFilesCommand zcat',
            '--limitSjdbInsertNsj 4000000',
            '--outSAMtype BAM Unsorted',
            '--outSAMstrandField None',
            '--outSAMunmapped Within',
            '--outWigType None',
            '--outWigStrand Stranded',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--alignEndsProtrude 10 ConcordantPair',
            '--peOverlapNbasesMin 10',
            '--sjdbOverhang 100',
            '--quantMode TranscriptomeSAM GeneCounts',
            params.star_pass2_args ?: ''
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.p2" }
    }
    errorStrategy = 'finish'

    withName: /(FASTQSCREEN_FASTQSCREEN|FASTQ_SCREEN_1|FASTQ_SCREEN_2)/ {
        // Additional args to match snakemake
        ext.args = """--subset 1000000 \\
        --aligner bowtie2 \\
        --force"""
    }


    withName: PICARD_ADDORREPLACEREADGROUPS {
        cpus = 6
        memory = 110.GB
        ext.args = [
            "--TMP_DIR .",
            "--RGID id",
            "--RGLB library",
            "--RGPL illumina",
            "--RGPU machine",
            "--RGSM sample",
            "--VALIDATION_STRINGENCY SILENT"
        ].findAll { it?.trim() }.join(" ")
        ext.prefix = { "${meta.id}.star_rg_added.sorted" }
        ext.suffix = "bam"
    }

    withName: PICARD_MARKDUPLICATES {
        cpus = 6
        memory = 110.GB
        ext.args = [
            "--TMP_DIR .",
            "--CREATE_INDEX true",
            "--VALIDATION_STRINGENCY SILENT"
        ].findAll { it?.trim() }.join(" ")
        ext.prefix = { "${meta.id}.star_rg_added.sorted.dmark" }
        // ext.suffix = "bam" This is probably unnecessary
    }

    withName: PICARD_COLLECTRNASEQMETRICS {
        cpus = 4
        memory = 110.GB
        ext.args = [
            "--TMP_DIR .",
            "--STRAND_SPECIFICITY ${params.picard_strand_specificity}",
            "--VALIDATION_STRINGENCY SILENT"
        ].findAll { it?.trim() }.join(" ")
        ext.prefix = { "${meta.id}" }
    }

}
