includeConfig '../../../../tests/test-data.config'
includeConfig '../../../../conf/containers.config'

process {
    withName: RSEM_CALCULATEEXPRESSION {
        ext.args = [
            '--no-bam-output',
            '--calc-ci',
            '--seed 12345',
            '--time',
            '--keep-intermediate-files',
            '--estimate-rspd'
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.RSEM" }
    }
}
