params {
    genomes {
        'hg19_19' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/GRCh37.p13.genome.d1.vd1.genome.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/gencode.v19.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/rsemref/hg19_19"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/hg19_19.rRNA_interval_list"
            organism          = "hg19"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_19/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg19_hs37d5_GRCh37_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg19_hs37d5_GRCh37_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg19_hs37d5_GRCh37_v2.4.0.gff3"
        }
        'hg19_36' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/GRCh37.p13.genome.d1.vd1.genome.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/gencode.v36lift37.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/rsemref/hg19_36lift37"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/hg19_36lift37.rRNA_interval_list"
            organism          = "hg19"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg19_36lift37/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg19_hs37d5_GRCh37_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg19_hs37d5_GRCh37_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg19_hs37d5_GRCh37_v2.4.0.gff3"
        }
        'hg38_30' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/gencode.v30.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/rsemref/hg38_30"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/hg38_30.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_30/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'hg38_34' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/gencode.v34.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/rsemref/hg38_34"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/hg38_34.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_34/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'hg38_36' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/gencode.v36.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/rsemref/hg38_36"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/hg38_36.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_36/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'hg38_38' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/gencode.v38.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/rsemref/hg38_38"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/hg38_38.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_38/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'hg38_41' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/gencode.v41.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/rsemref/hg38_41"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/hg38_41.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_41/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'hg38_45' {
            fasta             = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/GRCh38.d1.vd1.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/gencode.v45.primary_assembly.annotation.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/rsemref/hg38_45"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/hg38_45.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/db/GDC_refs/hg38_45/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_hg38_GRCh38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_hg38_GRCh38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_hg38_GRCh38_v2.4.0.gff3"
        }
        'mm10_M21' {
            fasta             = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/mm10.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/M21.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/rsemref/mm10_M21"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/mm10_M21.rRNA_interval_list"
            organism          = "mm10_M21"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M21/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_mm10_GRCm38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_mm10_GRCm38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_mm10_GRCm38_v2.4.0.gff3"
        }
        'mm10_M23' {
            fasta             = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/mm10.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/M23.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/rsemref/mm10_M23"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/mm10_M23.rRNA_interval_list"
            organism          = "mm10_M23"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M23/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_mm10_GRCm38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_mm10_GRCm38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_mm10_GRCm38_v2.4.0.gff3"
        }
        'mm10_M25' {
            fasta             = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/mm10.fa"
            genes_gtf         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/M25.gtf"
            star_index        = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/STAR/2.7.6a/genome"
            annotate          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/annotate.genes.txt"
            annotate_isoforms = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/annotate.isoforms.txt"
            refflat           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/refFlat.txt"
            bed_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/genes.ref.bed"
            gene_info         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/geneinfo.bed"
            qualimap_info     = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/qualimap_info.txt"
            karyobeds         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/karyobeds/"
            karyoploter       = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/karyoplot_gene_coordinates.txt"
            rsem_ref          = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/rsemref/mm10_M25"
            rrna_list         = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/mm10_M25.rRNA_interval_list"
            organism          = "mm10_M25"
            tin_ref           = "/mnt/projects/CCBR-Pipelines/pipelines/RENEE/resources/mm10/M25/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/blacklist_mm10_GRCm38_v2.4.0.tsv.gz"
            fusion_cytoband   = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/cytobands_mm10_GRCm38_v2.4.0.tsv"
            fusion_protdomain = "/mnt/projects/CCBR-Pipelines/db/arriba/arriba_v2.4.0/database/protein_domains_mm10_GRCm38_v2.4.0.gff3"
        }
    }
}
