params {
    genomes {
        'hg38_stub' {
            fasta             = "${projectDir}/tests/test_data/hg38_stub/genome.fa"
            genes_gtf         = "${projectDir}/tests/test_data/hg38_stub/genes.gtf"
            star_index        = "${projectDir}/tests/test_data/hg38_stub/star_index"
            annotate          = "${projectDir}/tests/test_data/hg38_stub/annotate.genes.txt"
            annotate_isoforms = "${projectDir}/tests/test_data/hg38_stub/annotate.isoforms.txt"
            refflat           = "${projectDir}/tests/test_data/hg38_stub/refFlat.txt"
            bed_ref           = "${projectDir}/tests/test_data/hg38_stub/genes.ref.bed"
            gene_info         = "${projectDir}/tests/test_data/hg38_stub/geneinfo.bed"
            qualimap_info     = "${projectDir}/tests/test_data/hg38_stub/qualimap_info.txt"
            karyobeds         = "${projectDir}/tests/test_data/hg38_stub/karyobeds"
            karyoploter       = "${projectDir}/tests/test_data/hg38_stub/karyoplot_gene_coordinates.txt"
            rsem_ref          = "${projectDir}/tests/test_data/hg38_stub/rsemref/hg38_stub"
            rrna_list         = "${projectDir}/tests/test_data/hg38_stub/hg38_stub.rRNA_interval_list"
            organism          = "hg38"
            tin_ref           = "${projectDir}/tests/test_data/hg38_stub/transcripts.protein_coding_only.bed12"
            fusion_blacklist  = "${projectDir}/tests/test_data/hg38_stub/arriba_blacklist.tsv"
            fusion_cytoband   = "${projectDir}/tests/test_data/hg38_stub/arriba_cytobands.tsv"
            fusion_protdomain = "${projectDir}/tests/test_data/hg38_stub/arriba_protein_domains.gff3"
        }
    }
}
