includeConfig '../../../../tests/test-data.config'
includeConfig '../../../../conf/containers.config'
params {
    small_rna = false
    star_pass1_args = null
    star_pass2_args = null
    picard_strand_specificity = 'SECOND_READ_TRANSCRIPTION_STRAND'
}
includeConfig '../../../../conf/modules.config'

process {
    // genomeSAindexNbases is set smaller to avoid using too much memory
    withName: STAR_GENOMEGENERATE {
        ext.args = '--genomeSAindexNbases 6 --sjdbGTFfeatureExon gene --genomeChrBinNbits 14 --sjdbOverhang 150'
    }

    withName: STAR_ALIGN_BASIC {
        ext.args = [
            '--readFilesCommand zcat',
            '--twopassMode Basic',
            '--genomeSAindexNbases 6', // match STAR_GENOMEGENERATE to keep internal 2nd-pass genome small
            '--genomeChrBinNbits 14',  // match STAR_GENOMEGENERATE to keep internal 2nd-pass genome small
            '--limitSjdbInsertNsj 4000000',
            '--outSAMtype BAM Unsorted',
            '--outSAMstrandField None',
            '--outSAMunmapped Within',
            '--outWigType None',
            '--outWigStrand Stranded',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--quantMode TranscriptomeSAM GeneCounts',
            '--sjdbGTFfeatureExon CDS' // needed for covid genome
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.p2" }
    }

    withName: SAMTOOLS_SORT_SMALL {
        ext.prefix = { "${meta.id}.p2.Aligned.sortedByCoord.out" }
    }

    withName: STAR_ALIGN_PASS1 {
        ext.args = [
            '--readFilesCommand zcat',
            '--outSAMtype BAM Unsorted',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--outSAMstrandField None',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--alignEndsProtrude 10 ConcordantPair',
            '--peOverlapNbasesMin 10',
            '--sjdbGTFfeatureExon CDS'
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}" }
    }

    withName: STAR_ALIGN_PASS2 {
        ext.args = [
            '--readFilesCommand zcat',
            '--limitSjdbInsertNsj 4000000',
            '--outSAMtype BAM Unsorted',
            '--outSAMstrandField None',
            '--outSAMunmapped Within',
            '--outWigType None',
            '--outWigStrand Stranded',
            '--outFilterType BySJout',
            '--outFilterMultimapNmax 20',
            '--outFilterMismatchNmax 999',
            '--outFilterMismatchNoverLmax 0.3',
            '--outFilterIntronMotifs RemoveNoncanonicalUnannotated',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--alignSJoverhangMin 8',
            '--alignSJDBoverhangMin 1',
            '--alignEndsProtrude 10 ConcordantPair',
            '--peOverlapNbasesMin 10',
            '--quantMode TranscriptomeSAM GeneCounts',
            '--sjdbGTFfeatureExon CDS'
        ].findAll { it?.trim() }.join(' ')
        ext.prefix = { "${meta.id}.p2" }
    }

}
